{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
Alterar Perfil - {{ block.super}}
{% endblock title %}


{% block body %}
{% include 'partials/messages.html' %}
<div class="container-fluid">
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="{{ form.phot.id_for_label}}" class="form-label">Upload de Foto</label>
        {{form.photo | add_class:"form-control-file"}}
    </div>

    <div class="mb-3">
        <label for="{{ form.cell_phone.id_for_label}}" class="form-label">Celular</label>
        {{form.cell_phone | add_class:"form-control"}}
    </div>
    <button type="submit" class="btn btn-primary">Primary</button>
</form>
</div>

{% endblock body %}