{% extends 'base.html' %}
{% load widget_tweaks %}



{% block title %}
Novo Usuário - {{ block.super }}
{% endblock title %}

{% block body %}
<br><br><br><br><br>

{% if profile %}
<div class="container">
    <h2>Perfil</h2>
    <hr>
    <div class="media">
        <img class="mr-3" src="{{ user.profile.photo.url }}" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0">{{ profile.user.username }}</h5>
            <p>Celular: {{ profile.cell_phone }}</p>
            <p>Email: {{ profile.user.email }}</p>
        </div>
    </div>
    <hr>
    <a class="btn btn-primary" href="{% url 'accounts:change_user_profile' user.username %}">Alterar Perfil1</a>
    {% else %}
    <h2>Crie seu perfil</h2>
     <a class="btn btn-primary" href="{% url 'accounts:add_user_profile' %}">Alterar Perfil2</a>

    {% endif %}


</div>

{% endblock body %}